{% extends 'base.html.twig' %}

{% block title %}Профиль пользователя{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/show_user.css') }}">
{% endblock %}

{% block body %}
    {% if user.avatarPath is not null %}
        <img src="{{ asset(user.avatarPath) }}" alt="Avatar" style="width: 150px;">
    {% endif %}

    <div class="user-profile-container">
        <h2>Профиль пользователя</h2>
        <ul class="user-details">
            <li><span>Фамилия:</span> <span>{{ user.lastName }}</span></li>
            <li><span>Имя:</span> <span>{{ user.firstName }}</span></li>
            <li><span>Отчество:</span> <span>{{ user.middleName }}</span></li>
            <li><span>Пол:</span> <span>{{ user.gender }}</span></li>
            <li><span>Дата рождения:</span> <span>{{ user.birthDate }}</span></li>
            <li><span>Email:</span> <span>{{ user.email }}</span></li>
            <li><span>Телефон:</span> <span>{{ user.phone }}</span></li>
        </ul>
        <div class="button-group">
            <button onclick="window.location.href='{{ path('user_register') }}'">Создать</button>
            <button onclick="window.location.href='{{ path('user_edit', {'id': user.id}) }}'">Изменить</button>
            <form action="{{ path('user_delete', {'id': user.id}) }}" method="POST" style="display: inline;">
                <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?');">Удалить</button>
            </form>
        </div>
    </div>
{% endblock %}
